# Google Cloud SDK
google-cloud-sdk/

# Google Cloud SQL Proxy
cloud-sql-proxy/

# Python / Django
venv/
__pycache__/
*.py[cod]
*$py.class
db.sqlite3

# Environment Variables / Secrets
.env
.environ

# macOS System Files
.DS_Store
